In [2]:
library(randomForest)
library(caret)


data <- read.csv("trained_cleaned.csv")

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

Loading required package: ggplot2


Attaching package: ‘ggplot2’


The following object is masked from ‘package:randomForest’:

    margin

# Calculate the total number of accounts (Bank Accounts + Credit Cards)

train['Total_Num_Accounts'] = train['Num_Bank_Accounts'] + train['Num_Credit_Card']

# Calculate the total outstanding debt per account

train['Debt_Per_Account'] = train['Outstanding_Debt'] / train['Total_Num_Accounts']

# Calculate the ratio of outstanding debt to annual income

train['Debt_to_Income_Ratio'] = train['Outstanding_Debt'] / train['Annual_Income']

# Calculate the total number of delayed payments per account

train['Delayed_Payments_Per_Account'] = train['Num_of_Delayed_Payment'] / train['Total_Num_Accounts']

# Calculate the total monthly expenses (EMI + Monthly Investments) 

train['Total_Monthly_Expenses'] = train['Total_EMI_per_month'] + train['Amount_invested_monthly']

In [46]:

X <- data[, !(names(data) %in% c("Credit_Score_Encoded"))]
y <- as.factor(data$Credit_Score_Encoded)  


set.seed(77) 
train_index <- createDataPartition(y, p = 0.85, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]

In [25]:

rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 500)
saveRDS(rf_model, file = "f_model.rds")

In [26]:
loaded_model <- readRDS(file = "f_model.rds")
predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0  430  146   12
         1  205 2448  285
         2    9  295  802

Overall Statistics

               Accuracy : 0.7945
                 95% CI : (0.7825, 0.806)
    No Information Rate : 0.6237
    P-Value [Acc > NIR] : < 2e-16

                  Kappa : 0.6123

 Mcnemar's Test P-Value : 0.01464

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity           0.66770   0.8474   0.7298
Specificity           0.96038   0.7189   0.9140
Pos Pred Value        0.73129   0.8332   0.7251
Neg Pred Value        0.94708   0.7397   0.9158
Prevalence            0.13903   0.6237   0.2373
Detection Rate        0.09283   0.5285   0.1731
Detection Prevalence  0.12694   0.6343   0.2388
Balanced Accuracy     0.81404   0.7831   0.8219

In [32]:
#remotes::install_version("DMwR", version="0.4.1")

Downloading package from url: https://cloud.r-project.org/src/contrib/Archive/DMwR/DMwR_0.4.1.tar.gz

bitops   (1.0-6  -> 1.0-7  ) [CRAN]
caTools  (1.18.1 -> 1.18.2 ) [CRAN]
gtools   (3.8.2  -> 3.9.5  ) [CRAN]
curl     (5.2.0  -> 5.2.1  ) [CRAN]
xts      (0.12.1 -> 0.13.2 ) [CRAN]
gplots   (3.1.1  -> 3.1.3.1) [CRAN]
TTR      (0.24.2 -> 0.24.4 ) [CRAN]
quantmod (0.4.18 -> 0.4.26 ) [CRAN]

Installing 8 packages: bitops, caTools, gtools, curl, xts, gplots, TTR, quantmod

Installing packages into ‘/home/ziegler/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

Installing package into ‘/home/ziegler/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

ERROR: Error in data[, tgt]: object of type 'closure' is not subsettable

In [39]:

#install.packages("smotefamily")

Installing package into ‘/home/ziegler/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

also installing the dependency ‘dbscan’

In [3]:
suppressWarnings(min(data))

[1] 0

In [4]:
table(data$Credit_Score_Encoded)

    0     1     2
 4295 19262  7333

In [9]:
library(DMwR)
data$Credit_Score_Encoded <- as.factor(data$Credit_Score_Encoded)
# Original class counts
class_counts <- c(4295, 19262, 7333)

# Calculate the target count as the average of the original class counts
target_count <- sum(class_counts) %/% length(class_counts)

# Apply over-sampling using SMOTE
over_smote <- SMOTE(Credit_Score_Encoded ~ ., data = data, perc.over = 800, perc.under = 200, k = 5)


# Check the class distribution after sampling
table(over_smote$Credit_Score_Encoded)

    0     1     2
38655 49622 19098

In [12]:
library(randomForest)
library(DMwR)

set.seed(77)


dim(data)

str(data)

data$Credit_Score_Encoded <- as.factor(data$Credit_Score_Encoded)


smote_data <- SMOTE(Credit_Score_Encoded ~ ., data = data,k = 5,  perc.over = 800, perc.under = 200)

dim(smote_data)


str(smote_data)

table(smote_data$Credit_Score_Encoded)

[1] 30890    18

'data.frame':	30890 obs. of  18 variables:
 $ Annual_Income               : num  19114 19114 19114 19114 34848 ...
 $ Num_Bank_Accounts           : int  3 3 3 3 2 2 2 2 2 2 ...
 $ Num_Credit_Card             : int  4 4 4 4 4 4 4 4 4 4 ...
 $ Interest_Rate               : int  3 3 3 3 6 6 6 6 6 6 ...
 $ Num_of_Loan                 : int  4 4 4 4 1 1 1 1 1 1 ...
 $ Delay_from_due_date         : int  5 6 3 3 7 3 3 3 3 3 ...
 $ Num_of_Delayed_Payment      : int  4 0 8 6 1 3 1 0 4 4 ...
 $ Changed_Credit_Limit        : num  6.27 11.27 11.27 11.27 7.42 ...
 $ Num_Credit_Inquiries        : num  4 4 4 4 2 2 2 2 2 2 ...
 $ Outstanding_Debt            : num  810 810 810 810 605 ...
 $ Total_EMI_per_month         : num  49.6 49.6 49.6 49.6 18.8 ...
 $ Credit_History_Age_Months   : int  268 269 271 0 320 322 323 324 325 326 ...
 $ Credit_Score_Encoded        : Factor w/ 3 levels "0","1","2": 3 3 3 2 3 3 3 3 3 3 ...
 $ Credit_Mix_Encoded          : num  2 2 2 2 2 2 2 2 2 2 ...
 $ Total_Num_Accounts          : int  7 7 7 7 6 6 6 6 6 6 ...
 $ Debt_Per_Account            : num  116 116 116 116 101 ...
 $ Debt_to_Income_Ratio        : num  0.0424 0.0424 0.0424 0.0424 0.0174 ...
 $ Delayed_Payments_Per_Account: num  0.571 0 1.143 0.857 0.167 ...

[1] 107375     18

'data.frame':	107375 obs. of  18 variables:
 $ Annual_Income               : num  32020 21709 83245 118884 40760 ...
 $ Num_Bank_Accounts           : num  4 3 2 5 4 2 4 7 6 4 ...
 $ Num_Credit_Card             : num  5 4 3 6 5 6 5 7 5 3 ...
 $ Interest_Rate               : num  7 8 8 8 19 12 1 6 7 12 ...
 $ Num_of_Loan                 : num  3 0 1 0 2 2 0 4 2 1 ...
 $ Delay_from_due_date         : num  20 8 7 14 10 7 0 27 23 15 ...
 $ Num_of_Delayed_Payment      : num  14 0 5 3 10 3 10 18 12 8 ...
 $ Changed_Credit_Limit        : num  1.79 11.52 5.47 11.29 19.66 ...
 $ Num_Credit_Inquiries        : num  1 7 9 3 9 4 0 0 9 1 ...
 $ Outstanding_Debt            : num  776 1047 1229 831 338 ...
 $ Total_EMI_per_month         : num  41.8 0 67.7 0 39.7 ...
 $ Credit_History_Age_Months   : num  206 292 252 255 377 326 192 242 344 253 ...
 $ Credit_Score_Encoded        : Factor w/ 3 levels "0","1","2": 3 3 2 2 3 2 2 2 2 2 ...
 $ Credit_Mix_Encoded          : num  2 2 2 2 1 2 2 1 1 1 ...
 $ Total_Num_Accounts          : num  9 7 5 11 9 8 9 14 11 7 ...
 $ Debt_Per_Account            : num  86.3 149.6 245.9 75.5 37.5 ...
 $ Debt_to_Income_Ratio        : num  0.02424 0.04824 0.01477 0.00699 0.00828 ...
 $ Delayed_Payments_Per_Account: num  1.556 0 1 0.273 1.111 ...

    0     1     2
38655 49644 19076

In [13]:
library(randomForest)
library(caret)

X <- smote_data[, !(names(smote_data) %in% c("Credit_Score_Encoded"))]
y <- as.factor(smote_data$Credit_Score)  


set.seed(77)  # Set random seed
set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]

In [14]:
rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 500)
saveRDS(rf_model, file = "smote_model.rds")

In [15]:
loaded_model <- readRDS(file = "smote_model.rds")
predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 7555  107    6
         1  170 9624  158
         2    6  197 3651

Overall Statistics

               Accuracy : 0.97
                 95% CI : (0.9676, 0.9723)
    No Information Rate : 0.4623
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.952

 Mcnemar's Test P-Value : 0.0003287

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.9772   0.9694   0.9570
Specificity            0.9918   0.9716   0.9885
Pos Pred Value         0.9853   0.9670   0.9473
Neg Pred Value         0.9873   0.9736   0.9907
Prevalence             0.3600   0.4623   0.1777
Detection Rate         0.3518   0.4482   0.1700
Detection Prevalence   0.3571   0.4634   0.1795
Balanced Accuracy      0.9845   0.9705   0.9728

In [21]:
library(tibble)

# Generate random data for the dataframe
set.seed(123)
df <- tibble(
  X = seq_len(1),
  Month = sample(1:12, 1, replace = TRUE),
  Age = runif(1, min = 20, max = 60),
  Occupation = sample(1:20, 1, replace = TRUE),
  Annual_Income = 5000,
  Monthly_Inhand_Salary = runif(1, min = 1000, max = 8000),
  Num_Bank_Accounts = sample(1:5, 1, replace = TRUE),
  Num_Credit_Card = sample(1:6, 1, replace = TRUE),
  Interest_Rate = runif(1, min = 2, max = 10),
  Num_of_Loan = sample(1:5, 1, replace = TRUE),
  Type_of_Loan = sample(100:900, 1, replace = TRUE),
  Delay_from_due_date = sample(1:10, 1, replace = TRUE),
  Num_of_Delayed_Payment = sample(1:10, 1, replace = TRUE),
  Changed_Credit_Limit = runif(1, min = 1, max = 15),
  Num_Credit_Inquiries = sample(1:5, 1, replace = TRUE),
  Credit_Mix = sample(1:2, 1, replace = TRUE),
  Outstanding_Debt = runif(1, min = 500, max = 5000),
  Credit_Utilization_Ratio = runif(1, min = 20, max = 50),
  Credit_History_Age = sample(200:400, 1, replace = TRUE),
  Payment_of_Min_Amount = sample(0:1, 1, replace = TRUE),
  Total_EMI_per_month = runif(1, min = 30, max = 100),
  Amount_invested_monthly = runif(1, min = 50, max = 300),
  Payment_Behaviour = sample(0:5, 1, replace = TRUE),
  Monthly_Balance = runif(1, min = 200, max = 400),
  #Credit_Score = sample(0:5, 1, replace = TRUE)
)

# Show the structure of the dataframe
str(df)
head(df)
head(data)

tibble [1 × 24] (S3: tbl_df/tbl/data.frame)
 $ X                       : int 1
 $ Month                   : int 3
 $ Age                     : num 55.3
 $ Occupation              : int 3
 $ Annual_Income           : num 5000
 $ Monthly_Inhand_Salary   : num 1319
 $ Num_Bank_Accounts       : int 2
 $ Num_Credit_Card         : int 6
 $ Interest_Rate           : num 6.41
 $ Num_of_Loan             : int 5
 $ Type_of_Loan            : int 343
 $ Delay_from_due_date     : int 6
 $ Num_of_Delayed_Payment  : int 9
 $ Changed_Credit_Limit    : num 2.44
 $ Num_Credit_Inquiries    : int 3
 $ Credit_Mix              : int 2
 $ Outstanding_Debt        : num 689
 $ Credit_Utilization_Ratio: num 29.8
 $ Credit_History_Age      : int 290
 $ Payment_of_Min_Amount   : int 0
 $ Total_EMI_per_month     : num 78.5
 $ Amount_invested_monthly : num 210
 $ Payment_Behaviour       : int 0
 $ Monthly_Balance         : num 331

  X Month Age     Occupation Annual_Income Monthly_Inhand_Salary
1 1 3     55.3207 3          5000          1318.895
  Num_Bank_Accounts Num_Credit_Card Interest_Rate Num_of_Loan ⋯
1 2                 6               6.41148       5           ⋯
  Num_Credit_Inquiries Credit_Mix Outstanding_Debt Credit_Utilization_Ratio
1 3                    2          689.2679         29.83762
  Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month
1 290                0                     78.49624
  Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 210.1267                0                 331.1412

  X Month Age Occupation Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts
1 0 1     23  12         19114.12      1824.843              3
2 1 2     23  12         19114.12      1824.843              3
3 2 3     23  12         19114.12      1824.843              3
4 3 4     23  12         19114.12      1824.843              3
5 4 5     23  12         19114.12      1824.843              3
6 5 6     23  12         19114.12      1824.843              3
  Num_Credit_Card Interest_Rate Num_of_Loan ⋯ Credit_Mix Outstanding_Debt
1 4               3             4           ⋯ 1          809.98
2 4               3             4           ⋯ 1          809.98
3 4               3             4           ⋯ 1          809.98
4 4               3             4           ⋯ 1          809.98
5 4               3             4           ⋯ 1          809.98
6 4               3             4           ⋯ 1          809.98
  Credit_Utilization_Ratio Credit_History_Age Payment_of_Min_Amount
1 26.82262                 265                1
2 31.94496                 265                1
3 28.60935                 267                1
4 31.37786                 268                1
5 24.79735                 269                1
6 27.26226                 270                1
  Total_EMI_per_month Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 49.57495             80.41530               2                 312.4941
2 49.57495            118.28022               3                 284.6292
3 49.57495             81.69952               4                 331.2099
4 49.57495            199.45807               5                 223.4513
5 49.57495             41.42015               1                 341.4892
6 49.57495             62.43017               1                 340.4792
  Credit_Score
1 0
2 0
3 0
4 0
5 0
6 0

In [22]:
rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)


predictions <- predict(rf_model, newdata = df)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

ERROR: Error in table(data, reference, dnn = dnn, ...): all arguments must have the same length

In [32]:
library(randomForest)
library(caret)

# Sample dataframe generation code (100,000 observations)
library(tibble)

set.seed(123)
# Assuming user inputs for each variable
user_input <- data.frame(
  X = 1,  # Example value, replace with actual value
  Month = 3,  # Example value, replace with actual value
  Age = 30,  # Example value, replace with actual value
  Occupation = 15,  # Example value, replace with actual value
  Annual_Income = 50000,  # Example value, replace with actual value
  Monthly_Inhand_Salary = 4000,  # Example value, replace with actual value
  Num_Bank_Accounts = 2,  # Example value, replace with actual value
  Num_Credit_Card = 3,  # Example value, replace with actual value
  Interest_Rate = 6,  # Example value, replace with actual value
  Num_of_Loan = 2,  # Example value, replace with actual value
  Type_of_Loan = 250,  # Example value, replace with actual value
  Delay_from_due_date = 4,  # Example value, replace with actual value
  Num_of_Delayed_Payment = 3,  # Example value, replace with actual value
  Changed_Credit_Limit = 8,  # Example value, replace with actual value
  Num_Credit_Inquiries = 2,  # Example value, replace with actual value
  Credit_Mix = 1,  # Example value, replace with actual value
  Outstanding_Debt = 2000,  # Example value, replace with actual value
  Credit_Utilization_Ratio = 35,  # Example value, replace with actual value
  Credit_History_Age = 300,  # Example value, replace with actual value
  Payment_of_Min_Amount = 1,  # Example value, replace with actual value
  Total_EMI_per_month = 70,  # Example value, replace with actual value
  Amount_invested_monthly = 150,  # Example value, replace with actual value
  Payment_Behaviour = 3,  # Example value, replace with actual value
  Monthly_Balance = 300  # Example value, replace with actual value
 
)





# Building the random forest model
rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)

# Making predictions
predictions <- predict(rf_model, newdata = user_input)

print(predictions)

1
2
Levels: 0 1 2