Warning message in randomForest.default(m, y, ...):
“The response has five or fewer unique values.  Are you sure you want to do regression?”

ERROR: Error: `data` and `reference` should be factors with the same levels.

In [31]:
# Load libraries
library(randomForest)
library(caret)

# Load data
data <- read.csv("train_cleaned.csv")

# Explore the structure of the data
str(data)

# Split data into train and test sets
set.seed(123) # for reproducibility
train_index <- createDataPartition(data$Credit_Score, p = 0.8, list = FALSE)
train_data <- data[train_index, ]
test_data <- data[-train_index, ]

rf_model <- randomForest(Credit_Score ~ ., data = train_data, ntree = 1)

predictions <- factor(predictions)
test_data$Credit_Score <- factor(test_data$Credit_Score)

combined_levels <- union(levels(predictions), levels(test_data$Credit_Score))
predictions <- factor(predictions, levels = combined_levels)
test_data$Credit_Score <- factor(test_data$Credit_Score, levels = combined_levels)

'data.frame':	100000 obs. of  25 variables:
 $ X                       : int  0 1 2 3 4 5 6 7 8 9 ...
 $ Month                   : int  1 2 3 4 5 6 7 8 1 2 ...
 $ Age                     : num  23 23 23 23 23 23 23 23 28 28 ...
 $ Occupation              : int  12 12 12 12 12 12 12 12 13 13 ...
 $ Annual_Income           : num  19114 19114 19114 19114 19114 ...
 $ Monthly_Inhand_Salary   : num  1825 1825 1825 1825 1825 ...
 $ Num_Bank_Accounts       : num  3 3 3 3 3 3 3 3 2 2 ...
 $ Num_Credit_Card         : num  4 4 4 4 4 4 4 4 4 4 ...
 $ Interest_Rate           : num  3 3 3 3 3 3 3 3 6 6 ...
 $ Num_of_Loan             : num  4 4 4 4 4 4 4 4 1 1 ...
 $ Type_of_Loan            : int  128 128 128 128 128 128 128 128 684 684 ...
 $ Delay_from_due_date     : num  3 3 3 5 6 8 3 3 3 7 ...
 $ Num_of_Delayed_Payment  : num  7 4 7 4 4 4 8 6 4 1 ...
 $ Changed_Credit_Limit    : num  11.27 11.27 11.27 6.27 11.27 ...
 $ Num_Credit_Inquiries    : num  4 4 4 4 4 4 4 4 2 2 ...
 $ Credit_Mix              : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Outstanding_Debt        : num  810 810 810 810 810 ...
 $ Credit_Utilization_Ratio: num  26.8 31.9 28.6 31.4 24.8 ...
 $ Credit_History_Age      : num  265 265 267 268 269 270 271 265 319 320 ...
 $ Payment_of_Min_Amount   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Total_EMI_per_month     : num  49.6 49.6 49.6 49.6 49.6 ...
 $ Amount_invested_monthly : num  80.4 118.3 81.7 199.5 41.4 ...
 $ Payment_Behaviour       : int  2 3 4 5 1 1 5 1 5 0 ...
 $ Monthly_Balance         : num  312 285 331 223 341 ...
 $ Credit_Score            : int  0 0 0 0 0 0 0 2 2 0 ...

Warning message in randomForest.default(m, y, ...):
“The response has five or fewer unique values.  Are you sure you want to do regression?”

In [32]:
confusion_matrix <- confusionMatrix(predictions, test_data$Credit_Score)
print(confusion_matrix)

Confusion Matrix and Statistics

                      Reference
Prediction                0 1.77635683940025e-15  0.2 0.25 0.333333333333333
  0                    1945                    0    0    0                 0
  1.77635683940025e-15   44                    0    0    0                 0
  0.2                     7                    0    0    0                 0
  0.25                   20                    0    0    0                 0
  0.333333333333333       8                    0    0    0                 0
  0.4                    33                    0    0    0                 0
  0.5                    38                    0    0    0                 0
  0.6                    14                    0    0    0                 0
  0.666666666666667      35                    0    0    0                 0
  0.75                   19                    0    0    0                 0
  0.8                    38                    0    0    0                 0
  1                     207                    0    0    0                 0
  1.2                    24                    0    0    0                 0
  1.25                   12                    0    0    0                 0
  1.33333333333333       27                    0    0    0                 0
  1.4                    10                    0    0    0                 0
  1.5                    39                    0    0    0                 0
  1.6                    40                    0    0    0                 0
  1.66666666666667       11                    0    0    0                 0
  1.75                   15                    0    0    0                 0
  1.8                     6                    0    0    0                 0
  2                     897                    0    0    0                 0
  2.00000000000002        0                    0    0    0                 0
                      Reference
Prediction              0.4  0.5  0.6 0.666666666666667 0.75  0.8    1  1.2
  0                       0    0    0                 0    0    0  180    0
  1.77635683940025e-15    0    0    0                 0    0    0    0    0
  0.2                     0    0    0                 0    0    0    7    0
  0.25                    0    0    0                 0    0    0   13    0
  0.333333333333333       0    0    0                 0    0    0    7    0
  0.4                     0    0    0                 0    0    0    8    0
  0.5                     0    0    0                 0    0    0   18    0
  0.6                     0    0    0                 0    0    0   22    0
  0.666666666666667       0    0    0                 0    0    0    6    0
  0.75                    0    0    0                 0    0    0   21    0
  0.8                     0    0    0                 0    0    0   12    0
  1                       0    0    0                 0    0    0 3581    0
  1.2                     0    0    0                 0    0    0   64    0
  1.25                    0    0    0                 0    0    0   76    0
  1.33333333333333        0    0    0                 0    0    0   84    0
  1.4                     0    0    0                 0    0    0   49    0
  1.5                     0    0    0                 0    0    0  134    0
  1.6                     0    0    0                 0    0    0   47    0
  1.66666666666667        0    0    0                 0    0    0   72    0
  1.75                    0    0    0                 0    0    0   84    0
  1.8                     0    0    0                 0    0    0   52    0
  2                       0    0    0                 0    0    0 1338    0
  2.00000000000002        0    0    0                 0    0    0    1    0
                      Reference
Prediction             1.25 1.33333333333333  1.4  1.5  1.6 1.66666666666667
  0                       0                0    0    0    0                0
  1.77635683940025e-15    0                0    0    0    0                0
  0.2                     0                0    0    0    0                0
  0.25                    0                0    0    0    0                0
  0.333333333333333       0                0    0    0    0                0
  0.4                     0                0    0    0    0                0
  0.5                     0                0    0    0    0                0
  0.6                     0                0    0    0    0                0
  0.666666666666667       0                0    0    0    0                0
  0.75                    0                0    0    0    0                0
  0.8                     0                0    0    0    0                0
  1                       0                0    0    0    0                0
  1.2                     0                0    0    0    0                0
  1.25                    0                0    0    0    0                0
  1.33333333333333        0                0    0    0    0                0
  1.4                     0                0    0    0    0                0
  1.5                     0                0    0    0    0                0
  1.6                     0                0    0    0    0                0
  1.66666666666667        0                0    0    0    0                0
  1.75                    0                0    0    0    0                0
  1.8                     0                0    0    0    0                0
  2                       0                0    0    0    0                0
  2.00000000000002        0                0    0    0    0                0
                      Reference
Prediction             1.75  1.8    2 2.00000000000002
  0                       0    0  978                0
  1.77635683940025e-15    0    0    7                0
  0.2                     0    0   12                0
  0.25                    0    0   11                0
  0.333333333333333       0    0   15                0
  0.4                     0    0   21                0
  0.5                     0    0   36                0
  0.6                     0    0   16                0
  0.666666666666667       0    0   41                0
  0.75                    0    0   35                0
  0.8                     0    0   28                0
  1                       0    0 1435                0
  1.2                     0    0   46                0
  1.25                    0    0   50                0
  1.33333333333333        0    0   84                0
  1.4                     0    0   46                0
  1.5                     0    0  110                0
  1.6                     0    0   63                0
  1.66666666666667        0    0   58                0
  1.75                    0    0   71                0
  1.8                     0    0   45                0
  2                       0    0 6089                0
  2.00000000000002        0    0 1337                0

Overall Statistics

               Accuracy : 0.5808
                 95% CI : (0.5739, 0.5876)
    No Information Rate : 0.5317
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.3788

 Mcnemar's Test P-Value : NA

Statistics by Class:

                     Class: 0 Class: 1.77635683940025e-15 Class: 0.2
Sensitivity           0.55747                          NA         NA
Specificity           0.92986                     0.99745     0.9987
Pos Pred Value        0.62681                          NA         NA
Neg Pred Value        0.90862                          NA         NA
Prevalence            0.17446                     0.00000     0.0000
Detection Rate        0.09725                     0.00000     0.0000
Detection Prevalence  0.15516                     0.00255     0.0013
Balanced Accuracy     0.74366                          NA         NA
                     Class: 0.25 Class: 0.333333333333333 Class: 0.4 Class: 0.5
Sensitivity                   NA                       NA         NA         NA
Specificity               0.9978                   0.9985     0.9969     0.9954
Pos Pred Value                NA                       NA         NA         NA
Neg Pred Value                NA                       NA         NA         NA
Prevalence                0.0000                   0.0000     0.0000     0.0000
Detection Rate            0.0000                   0.0000     0.0000     0.0000
Detection Prevalence      0.0022                   0.0015     0.0031     0.0046
Balanced Accuracy             NA                       NA         NA         NA
                     Class: 0.6 Class: 0.666666666666667 Class: 0.75 Class: 0.8
Sensitivity                  NA                       NA          NA         NA
Specificity              0.9974                   0.9959     0.99625     0.9961
Pos Pred Value               NA                       NA          NA         NA
Neg Pred Value               NA                       NA          NA         NA
Prevalence               0.0000                   0.0000     0.00000     0.0000
Detection Rate           0.0000                   0.0000     0.00000     0.0000
Detection Prevalence     0.0026                   0.0041     0.00375     0.0039
Balanced Accuracy            NA                       NA          NA         NA
                     Class: 1 Class: 1.2 Class: 1.25 Class: 1.33333333333333
Sensitivity            0.6094         NA          NA                      NA
Specificity            0.8837     0.9933      0.9931                 0.99025
Pos Pred Value         0.6856         NA          NA                      NA
Neg Pred Value         0.8447         NA          NA                      NA
Prevalence             0.2938     0.0000      0.0000                 0.00000
Detection Rate         0.1791     0.0000      0.0000                 0.00000
Detection Prevalence   0.2612     0.0067      0.0069                 0.00975
Balanced Accuracy      0.7466         NA          NA                      NA
                     Class: 1.4 Class: 1.5 Class: 1.6 Class: 1.66666666666667
Sensitivity                  NA         NA         NA                      NA
Specificity             0.99475    0.98585     0.9925                 0.99295
Pos Pred Value               NA         NA         NA                      NA
Neg Pred Value               NA         NA         NA                      NA
Prevalence              0.00000    0.00000     0.0000                 0.00000
Detection Rate          0.00000    0.00000     0.0000                 0.00000
Detection Prevalence    0.00525    0.01415     0.0075                 0.00705
Balanced Accuracy            NA         NA         NA                      NA
                     Class: 1.75 Class: 1.8 Class: 2 Class: 2.00000000000002
Sensitivity                   NA         NA   0.5726                      NA
Specificity               0.9915    0.99485   0.7613                  0.9331
Pos Pred Value                NA         NA   0.7315                      NA
Neg Pred Value                NA         NA   0.6107                      NA
Prevalence                0.0000    0.00000   0.5317                  0.0000
Detection Rate            0.0000    0.00000   0.3045                  0.0000
Detection Prevalence      0.0085    0.00515   0.4162                  0.0669
Balanced Accuracy             NA         NA   0.6670                      NA

In [33]:

accuracy_value <- confusion_matrix$overall['Accuracy']
cat("Accuracy: ", accuracy_value, "\n")

Accuracy:  0.580779

# Random Forest

In [37]:

library(randomForest)
library(caret)


data <- read.csv("train_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]


rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)


predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 2206  252 1146
         1  241 3866 1642
         2 1118 1681 7846

Overall Statistics

               Accuracy : 0.696
                 95% CI : (0.6895, 0.7023)
    No Information Rate : 0.5318
    P-Value [Acc > NIR] : <2e-16

                  Kappa : 0.4945

 Mcnemar's Test P-Value : 0.7893

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.6188   0.6667   0.7378
Specificity            0.9149   0.8674   0.7011
Pos Pred Value         0.6121   0.6725   0.7371
Neg Pred Value         0.9171   0.8643   0.7019
Prevalence             0.1783   0.2900   0.5318
Detection Rate         0.1103   0.1933   0.3923
Detection Prevalence   0.1802   0.2875   0.5323
Balanced Accuracy      0.7669   0.7670   0.7195

In [38]:

library(randomForest)
library(caret)


data <- read.csv("train_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]


rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 3)


predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 2522  203  921
         1  118 4256 1320
         2  925 1340 8393

Overall Statistics

               Accuracy : 0.7586
                 95% CI : (0.7526, 0.7645)
    No Information Rate : 0.5318
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.5987

 Mcnemar's Test P-Value : 4.738e-05

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.7074   0.7339   0.7893
Specificity            0.9316   0.8987   0.7581
Pos Pred Value         0.6917   0.7475   0.7875
Neg Pred Value         0.9362   0.8921   0.7601
Prevalence             0.1783   0.2900   0.5318
Detection Rate         0.1261   0.2128   0.4197
Detection Prevalence   0.1823   0.2847   0.5330
Balanced Accuracy      0.8195   0.8163   0.7737

In [39]:

library(randomForest)
library(caret)


data <- read.csv("train_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]


rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 10)


predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 2768   95  798
         1   36 4747 1147
         2  761  957 8689

Overall Statistics

               Accuracy : 0.8103
                 95% CI : (0.8048, 0.8157)
    No Information Rate : 0.5318
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.6862

 Mcnemar's Test P-Value : 1.121e-09

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.7764   0.8186   0.8171
Specificity            0.9457   0.9167   0.8165
Pos Pred Value         0.7561   0.8005   0.8349
Neg Pred Value         0.9512   0.9252   0.7972
Prevalence             0.1783   0.2900   0.5318
Detection Rate         0.1384   0.2374   0.4345
Detection Prevalence   0.1831   0.2965   0.5204
Balanced Accuracy      0.8610   0.8676   0.8168

In [40]:

library(randomForest)
library(caret)


data <- read.csv("train_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]


rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 500)


predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 2891   27  687
         1   11 4992 1110
         2  663  780 8837

Overall Statistics

               Accuracy : 0.8361
                 95% CI : (0.8309, 0.8412)
    No Information Rate : 0.5318
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.7295

 Mcnemar's Test P-Value : 5.583e-14

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.8109   0.8608   0.8310
Specificity            0.9566   0.9211   0.8459
Pos Pred Value         0.8019   0.8166   0.8596
Neg Pred Value         0.9589   0.9419   0.8151
Prevalence             0.1783   0.2900   0.5318
Detection Rate         0.1446   0.2496   0.4419
Detection Prevalence   0.1803   0.3057   0.5141
Balanced Accuracy      0.8837   0.8909   0.8385

Loading required package: lattice

Loading required package: ggplot2

In [1]:
library(e1071)  # for SVM
library(caret)

data <- read.csv("train_cleaned.csv")

X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  

set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]

# SVM model training
svm_model <- svm(y_train ~ ., data = data.frame(cbind(X_train, y_train)), kernel = "radial")

# Predictions using SVM model
predictions <- predict(svm_model, newdata = X_test)

# Confusion matrix
confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Loading required package: lattice

Loading required package: ggplot2

In [3]:
# Load libraries
library(randomForest)
library(caret)

# Load data
data <- read.csv("../input/credit-score-classification/train.csv")
head(data)

  ID   Customer_ID Month    Name          Age  SSN         Occupation
1 5634 CUS_0xd40   January  Aaron Maashoh 23   821-00-0265 Scientist
2 5635 CUS_0xd40   February Aaron Maashoh 23   821-00-0265 Scientist
3 5636 CUS_0xd40   March    Aaron Maashoh -500 821-00-0265 Scientist
4 5637 CUS_0xd40   April    Aaron Maashoh 23   821-00-0265 Scientist
5 5638 CUS_0xd40   May      Aaron Maashoh 23   821-00-0265 Scientist
6 5639 CUS_0xd40   June     Aaron Maashoh 23   821-00-0265 Scientist
  Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts ⋯ Credit_Mix
1 19114.12      1824.843              3                 ⋯ _
2 19114.12            NA              3                 ⋯ Good
3 19114.12            NA              3                 ⋯ Good
4 19114.12            NA              3                 ⋯ Good
5 19114.12      1824.843              3                 ⋯ Good
6 19114.12            NA              3                 ⋯ Good
  Outstanding_Debt Credit_Utilization_Ratio Credit_History_Age
1 809.98           26.82262                 22 Years and 1 Months
2 809.98           31.94496                 NA
3 809.98           28.60935                 22 Years and 3 Months
4 809.98           31.37786                 22 Years and 4 Months
5 809.98           24.79735                 22 Years and 5 Months
6 809.98           27.26226                 22 Years and 6 Months
  Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly
1 No                    49.57495            80.41529543900253
2 No                    49.57495            118.28022162236736
3 No                    49.57495            81.699521264648
4 No                    49.57495            199.4580743910713
5 No                    49.57495            41.420153086217326
6 No                    49.57495            62.430172331195294
  Payment_Behaviour                Monthly_Balance    Credit_Score
1 High_spent_Small_value_payments  312.49408867943663 Good
2 Low_spent_Large_value_payments   284.62916249607184 Good
3 Low_spent_Medium_value_payments  331.2098628537912  Good
4 Low_spent_Small_value_payments   223.45130972736786 Good
5 High_spent_Medium_value_payments 341.48923103222177 Good
6 !@9#%8                           340.4792117872438  Good

In [4]:
data$Payment_Behaviour <- as.factor(data$Payment_Behaviour)
head(data)

  ID   Customer_ID Month    Name          Age  SSN         Occupation
1 5634 CUS_0xd40   January  Aaron Maashoh 23   821-00-0265 Scientist
2 5635 CUS_0xd40   February Aaron Maashoh 23   821-00-0265 Scientist
3 5636 CUS_0xd40   March    Aaron Maashoh -500 821-00-0265 Scientist
4 5637 CUS_0xd40   April    Aaron Maashoh 23   821-00-0265 Scientist
5 5638 CUS_0xd40   May      Aaron Maashoh 23   821-00-0265 Scientist
6 5639 CUS_0xd40   June     Aaron Maashoh 23   821-00-0265 Scientist
  Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts ⋯ Credit_Mix
1 19114.12      1824.843              3                 ⋯ _
2 19114.12            NA              3                 ⋯ Good
3 19114.12            NA              3                 ⋯ Good
4 19114.12            NA              3                 ⋯ Good
5 19114.12      1824.843              3                 ⋯ Good
6 19114.12            NA              3                 ⋯ Good
  Outstanding_Debt Credit_Utilization_Ratio Credit_History_Age
1 809.98           26.82262                 22 Years and 1 Months
2 809.98           31.94496                 NA
3 809.98           28.60935                 22 Years and 3 Months
4 809.98           31.37786                 22 Years and 4 Months
5 809.98           24.79735                 22 Years and 5 Months
6 809.98           27.26226                 22 Years and 6 Months
  Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly
1 No                    49.57495            80.41529543900253
2 No                    49.57495            118.28022162236736
3 No                    49.57495            81.699521264648
4 No                    49.57495            199.4580743910713
5 No                    49.57495            41.420153086217326
6 No                    49.57495            62.430172331195294
  Payment_Behaviour                Monthly_Balance    Credit_Score
1 High_spent_Small_value_payments  312.49408867943663 Good
2 Low_spent_Large_value_payments   284.62916249607184 Good
3 Low_spent_Medium_value_payments  331.2098628537912  Good
4 Low_spent_Small_value_payments   223.45130972736786 Good
5 High_spent_Medium_value_payments 341.48923103222177 Good
6 !@9#%8                           340.4792117872438  Good

In [5]:
data$Credit_Score <- as.factor(data$Credit_Score)
head(data)

  ID   Customer_ID Month    Name          Age  SSN         Occupation
1 5634 CUS_0xd40   January  Aaron Maashoh 23   821-00-0265 Scientist
2 5635 CUS_0xd40   February Aaron Maashoh 23   821-00-0265 Scientist
3 5636 CUS_0xd40   March    Aaron Maashoh -500 821-00-0265 Scientist
4 5637 CUS_0xd40   April    Aaron Maashoh 23   821-00-0265 Scientist
5 5638 CUS_0xd40   May      Aaron Maashoh 23   821-00-0265 Scientist
6 5639 CUS_0xd40   June     Aaron Maashoh 23   821-00-0265 Scientist
  Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts ⋯ Credit_Mix
1 19114.12      1824.843              3                 ⋯ _
2 19114.12            NA              3                 ⋯ Good
3 19114.12            NA              3                 ⋯ Good
4 19114.12            NA              3                 ⋯ Good
5 19114.12      1824.843              3                 ⋯ Good
6 19114.12            NA              3                 ⋯ Good
  Outstanding_Debt Credit_Utilization_Ratio Credit_History_Age
1 809.98           26.82262                 22 Years and 1 Months
2 809.98           31.94496                 NA
3 809.98           28.60935                 22 Years and 3 Months
4 809.98           31.37786                 22 Years and 4 Months
5 809.98           24.79735                 22 Years and 5 Months
6 809.98           27.26226                 22 Years and 6 Months
  Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly
1 No                    49.57495            80.41529543900253
2 No                    49.57495            118.28022162236736
3 No                    49.57495            81.699521264648
4 No                    49.57495            199.4580743910713
5 No                    49.57495            41.420153086217326
6 No                    49.57495            62.430172331195294
  Payment_Behaviour                Monthly_Balance    Credit_Score
1 High_spent_Small_value_payments  312.49408867943663 Good
2 Low_spent_Large_value_payments   284.62916249607184 Good
3 Low_spent_Medium_value_payments  331.2098628537912  Good
4 Low_spent_Small_value_payments   223.45130972736786 Good
5 High_spent_Medium_value_payments 341.48923103222177 Good
6 !@9#%8                           340.4792117872438  Good

In [6]:
str(data)

'data.frame':	100000 obs. of  28 variables:
 $ ID                      : num  5634 5635 5636 5637 5638 ...
 $ Customer_ID             : chr  "CUS_0xd40" "CUS_0xd40" "CUS_0xd40" "CUS_0xd40" ...
 $ Month                   : chr  "January" "February" "March" "April" ...
 $ Name                    : chr  "Aaron Maashoh" "Aaron Maashoh" "Aaron Maashoh" "Aaron Maashoh" ...
 $ Age                     : chr  "23" "23" "-500" "23" ...
 $ SSN                     : chr  "821-00-0265" "821-00-0265" "821-00-0265" "821-00-0265" ...
 $ Occupation              : chr  "Scientist" "Scientist" "Scientist" "Scientist" ...
 $ Annual_Income           : chr  "19114.12" "19114.12" "19114.12" "19114.12" ...
 $ Monthly_Inhand_Salary   : num  1825 NA NA NA 1825 ...
 $ Num_Bank_Accounts       : int  3 3 3 3 3 3 3 3 2 2 ...
 $ Num_Credit_Card         : int  4 4 4 4 4 4 4 4 4 4 ...
 $ Interest_Rate           : int  3 3 3 3 3 3 3 3 6 6 ...
 $ Num_of_Loan             : chr  "4" "4" "4" "4" ...
 $ Type_of_Loan            : chr  "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" ...
 $ Delay_from_due_date     : int  3 -1 3 5 6 8 3 3 3 7 ...
 $ Num_of_Delayed_Payment  : chr  "7" "" "7" "4" ...
 $ Changed_Credit_Limit    : chr  "11.27" "11.27" "_" "6.27" ...
 $ Num_Credit_Inquiries    : num  4 4 4 4 4 4 4 4 2 2 ...
 $ Credit_Mix              : chr  "_" "Good" "Good" "Good" ...
 $ Outstanding_Debt        : chr  "809.98" "809.98" "809.98" "809.98" ...
 $ Credit_Utilization_Ratio: num  26.8 31.9 28.6 31.4 24.8 ...
 $ Credit_History_Age      : chr  "22 Years and 1 Months" NA "22 Years and 3 Months" "22 Years and 4 Months" ...
 $ Payment_of_Min_Amount   : chr  "No" "No" "No" "No" ...
 $ Total_EMI_per_month     : num  49.6 49.6 49.6 49.6 49.6 ...
 $ Amount_invested_monthly : chr  "80.41529543900253" "118.28022162236736" "81.699521264648" "199.4580743910713" ...
 $ Payment_Behaviour       : Factor w/ 7 levels "!@9#%8","High_spent_Large_value_payments",..: 4 5 6 7 3 1 7 3 7 2 ...
 $ Monthly_Balance         : chr  "312.49408867943663" "284.62916249607184" "331.2098628537912" "223.45130972736786" ...
 $ Credit_Score            : Factor w/ 3 levels "Good","Poor",..: 1 1 1 1 1 1 1 3 3 1 ...

  ID   Customer_ID Month    Name          Age  SSN         Occupation
1 5634 CUS_0xd40   January  Aaron Maashoh 23   821-00-0265 Scientist
2 5635 CUS_0xd40   February Aaron Maashoh 23   821-00-0265 Scientist
3 5636 CUS_0xd40   March    Aaron Maashoh -500 821-00-0265 Scientist
4 5637 CUS_0xd40   April    Aaron Maashoh 23   821-00-0265 Scientist
5 5638 CUS_0xd40   May      Aaron Maashoh 23   821-00-0265 Scientist
6 5639 CUS_0xd40   June     Aaron Maashoh 23   821-00-0265 Scientist
  Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts ⋯ Credit_Mix
1 19114.12      1824.843              3                 ⋯ _
2 19114.12            NA              3                 ⋯ Good
3 19114.12            NA              3                 ⋯ Good
4 19114.12            NA              3                 ⋯ Good
5 19114.12      1824.843              3                 ⋯ Good
6 19114.12            NA              3                 ⋯ Good
  Outstanding_Debt Credit_Utilization_Ratio Credit_History_Age
1 809.98           26.82262                 22 Years and 1 Months
2 809.98           31.94496                 NA
3 809.98           28.60935                 22 Years and 3 Months
4 809.98           31.37786                 22 Years and 4 Months
5 809.98           24.79735                 22 Years and 5 Months
6 809.98           27.26226                 22 Years and 6 Months
  Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly
1 No                    49.57495            80.41529543900253
2 No                    49.57495            118.28022162236736
3 No                    49.57495            81.699521264648
4 No                    49.57495            199.4580743910713
5 No                    49.57495            41.420153086217326
6 No                    49.57495            62.430172331195294
  Payment_Behaviour                Monthly_Balance    Credit_Score
1 High_spent_Small_value_payments  312.49408867943663 Good
2 Low_spent_Large_value_payments   284.62916249607184 Good
3 Low_spent_Medium_value_payments  331.2098628537912  Good
4 Low_spent_Small_value_payments   223.45130972736786 Good
5 High_spent_Medium_value_payments 341.48923103222177 Good
6 !@9#%8                           340.4792117872438  Good

'data.frame':	100000 obs. of  28 variables:
 $ ID                      : num  5634 5635 5636 5637 5638 ...
 $ Customer_ID             : chr  "CUS_0xd40" "CUS_0xd40" "CUS_0xd40" "CUS_0xd40" ...
 $ Month                   : chr  "January" "February" "March" "April" ...
 $ Name                    : chr  "Aaron Maashoh" "Aaron Maashoh" "Aaron Maashoh" "Aaron Maashoh" ...
 $ Age                     : chr  "23" "23" "-500" "23" ...
 $ SSN                     : chr  "821-00-0265" "821-00-0265" "821-00-0265" "821-00-0265" ...
 $ Occupation              : chr  "Scientist" "Scientist" "Scientist" "Scientist" ...
 $ Annual_Income           : Factor w/ 18940 levels "10001727.0","10003.495",..: 6012 6012 6012 6012 6012 6012 6012 6012 10301 10301 ...
 $ Monthly_Inhand_Salary   : num  1825 NA NA NA 1825 ...
 $ Num_Bank_Accounts       : int  3 3 3 3 3 3 3 3 2 2 ...
 $ Num_Credit_Card         : int  4 4 4 4 4 4 4 4 4 4 ...
 $ Interest_Rate           : int  3 3 3 3 3 3 3 3 6 6 ...
 $ Num_of_Loan             : chr  "4" "4" "4" "4" ...
 $ Type_of_Loan            : chr  "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" "Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan" ...
 $ Delay_from_due_date     : int  3 -1 3 5 6 8 3 3 3 7 ...
 $ Num_of_Delayed_Payment  : chr  "7" "" "7" "4" ...
 $ Changed_Credit_Limit    : chr  "11.27" "11.27" "_" "6.27" ...
 $ Num_Credit_Inquiries    : num  4 4 4 4 4 4 4 4 2 2 ...
 $ Credit_Mix              : chr  "_" "Good" "Good" "Good" ...
 $ Outstanding_Debt        : chr  "809.98" "809.98" "809.98" "809.98" ...
 $ Credit_Utilization_Ratio: num  26.8 31.9 28.6 31.4 24.8 ...
 $ Credit_History_Age      : chr  "22 Years and 1 Months" NA "22 Years and 3 Months" "22 Years and 4 Months" ...
 $ Payment_of_Min_Amount   : chr  "No" "No" "No" "No" ...
 $ Total_EMI_per_month     : num  49.6 49.6 49.6 49.6 49.6 ...
 $ Amount_invested_monthly : chr  "80.41529543900253" "118.28022162236736" "81.699521264648" "199.4580743910713" ...
 $ Payment_Behaviour       : Factor w/ 7 levels "!@9#%8","High_spent_Large_value_payments",..: 4 5 6 7 3 1 7 3 7 2 ...
 $ Monthly_Balance         : chr  "312.49408867943663" "284.62916249607184" "331.2098628537912" "223.45130972736786" ...
 $ Credit_Score            : Factor w/ 3 levels "Good","Poor",..: 1 1 1 1 1 1 1 3 3 1 ...