In [1]:
library(randomForest)
library(caret)


data <- read.csv("train_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]


rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)
saveRDS(rf_model, file = "rf_model.rds")

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

Loading required package: lattice

Loading required package: ggplot2


Attaching package: ‘ggplot2’


The following object is masked from ‘package:randomForest’:

    margin

In [2]:
loaded_model <- readRDS(file = "rf_model.rds")
predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Confusion Matrix and Statistics

          Reference
Prediction    0    1    2
         0 2206  252 1146
         1  241 3866 1642
         2 1118 1681 7846

Overall Statistics

               Accuracy : 0.696
                 95% CI : (0.6895, 0.7023)
    No Information Rate : 0.5318
    P-Value [Acc > NIR] : <2e-16

                  Kappa : 0.4945

 Mcnemar's Test P-Value : 0.7893

Statistics by Class:

                     Class: 0 Class: 1 Class: 2
Sensitivity            0.6188   0.6667   0.7378
Specificity            0.9149   0.8674   0.7011
Pos Pred Value         0.6121   0.6725   0.7371
Neg Pred Value         0.9171   0.8643   0.7019
Prevalence             0.1783   0.2900   0.5318
Detection Rate         0.1103   0.1933   0.3923
Detection Prevalence   0.1802   0.2875   0.5323
Balanced Accuracy      0.7669   0.7670   0.7195

In [21]:
library(tibble)

# Generate random data for the dataframe
set.seed(123)
df <- tibble(
  X = seq_len(1),
  Month = sample(1:12, 1, replace = TRUE),
  Age = runif(1, min = 20, max = 60),
  Occupation = sample(1:20, 1, replace = TRUE),
  Annual_Income = 5000,
  Monthly_Inhand_Salary = runif(1, min = 1000, max = 8000),
  Num_Bank_Accounts = sample(1:5, 1, replace = TRUE),
  Num_Credit_Card = sample(1:6, 1, replace = TRUE),
  Interest_Rate = runif(1, min = 2, max = 10),
  Num_of_Loan = sample(1:5, 1, replace = TRUE),
  Type_of_Loan = sample(100:900, 1, replace = TRUE),
  Delay_from_due_date = sample(1:10, 1, replace = TRUE),
  Num_of_Delayed_Payment = sample(1:10, 1, replace = TRUE),
  Changed_Credit_Limit = runif(1, min = 1, max = 15),
  Num_Credit_Inquiries = sample(1:5, 1, replace = TRUE),
  Credit_Mix = sample(1:2, 1, replace = TRUE),
  Outstanding_Debt = runif(1, min = 500, max = 5000),
  Credit_Utilization_Ratio = runif(1, min = 20, max = 50),
  Credit_History_Age = sample(200:400, 1, replace = TRUE),
  Payment_of_Min_Amount = sample(0:1, 1, replace = TRUE),
  Total_EMI_per_month = runif(1, min = 30, max = 100),
  Amount_invested_monthly = runif(1, min = 50, max = 300),
  Payment_Behaviour = sample(0:5, 1, replace = TRUE),
  Monthly_Balance = runif(1, min = 200, max = 400),
  #Credit_Score = sample(0:5, 1, replace = TRUE)
)

# Show the structure of the dataframe
str(df)
head(df)
head(data)

tibble [1 × 24] (S3: tbl_df/tbl/data.frame)
 $ X                       : int 1
 $ Month                   : int 3
 $ Age                     : num 55.3
 $ Occupation              : int 3
 $ Annual_Income           : num 5000
 $ Monthly_Inhand_Salary   : num 1319
 $ Num_Bank_Accounts       : int 2
 $ Num_Credit_Card         : int 6
 $ Interest_Rate           : num 6.41
 $ Num_of_Loan             : int 5
 $ Type_of_Loan            : int 343
 $ Delay_from_due_date     : int 6
 $ Num_of_Delayed_Payment  : int 9
 $ Changed_Credit_Limit    : num 2.44
 $ Num_Credit_Inquiries    : int 3
 $ Credit_Mix              : int 2
 $ Outstanding_Debt        : num 689
 $ Credit_Utilization_Ratio: num 29.8
 $ Credit_History_Age      : int 290
 $ Payment_of_Min_Amount   : int 0
 $ Total_EMI_per_month     : num 78.5
 $ Amount_invested_monthly : num 210
 $ Payment_Behaviour       : int 0
 $ Monthly_Balance         : num 331

  X Month Age     Occupation Annual_Income Monthly_Inhand_Salary
1 1 3     55.3207 3          5000          1318.895
  Num_Bank_Accounts Num_Credit_Card Interest_Rate Num_of_Loan ⋯
1 2                 6               6.41148       5           ⋯
  Num_Credit_Inquiries Credit_Mix Outstanding_Debt Credit_Utilization_Ratio
1 3                    2          689.2679         29.83762
  Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month
1 290                0                     78.49624
  Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 210.1267                0                 331.1412

  X Month Age Occupation Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts
1 0 1     23  12         19114.12      1824.843              3
2 1 2     23  12         19114.12      1824.843              3
3 2 3     23  12         19114.12      1824.843              3
4 3 4     23  12         19114.12      1824.843              3
5 4 5     23  12         19114.12      1824.843              3
6 5 6     23  12         19114.12      1824.843              3
  Num_Credit_Card Interest_Rate Num_of_Loan ⋯ Credit_Mix Outstanding_Debt
1 4               3             4           ⋯ 1          809.98
2 4               3             4           ⋯ 1          809.98
3 4               3             4           ⋯ 1          809.98
4 4               3             4           ⋯ 1          809.98
5 4               3             4           ⋯ 1          809.98
6 4               3             4           ⋯ 1          809.98
  Credit_Utilization_Ratio Credit_History_Age Payment_of_Min_Amount
1 26.82262                 265                1
2 31.94496                 265                1
3 28.60935                 267                1
4 31.37786                 268                1
5 24.79735                 269                1
6 27.26226                 270                1
  Total_EMI_per_month Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 49.57495             80.41530               2                 312.4941
2 49.57495            118.28022               3                 284.6292
3 49.57495             81.69952               4                 331.2099
4 49.57495            199.45807               5                 223.4513
5 49.57495             41.42015               1                 341.4892
6 49.57495             62.43017               1                 340.4792
  Credit_Score
1 0
2 0
3 0
4 0
5 0
6 0

In [22]:
rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)


predictions <- predict(rf_model, newdata = df)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

ERROR: Error in table(data, reference, dnn = dnn, ...): all arguments must have the same length

In [32]:
library(randomForest)
library(caret)

# Sample dataframe generation code (100,000 observations)
library(tibble)

set.seed(123)
# Assuming user inputs for each variable
user_input <- data.frame(
  X = 1,  # Example value, replace with actual value
  Month = 3,  # Example value, replace with actual value
  Age = 30,  # Example value, replace with actual value
  Occupation = 15,  # Example value, replace with actual value
  Annual_Income = 50000,  # Example value, replace with actual value
  Monthly_Inhand_Salary = 4000,  # Example value, replace with actual value
  Num_Bank_Accounts = 2,  # Example value, replace with actual value
  Num_Credit_Card = 3,  # Example value, replace with actual value
  Interest_Rate = 6,  # Example value, replace with actual value
  Num_of_Loan = 2,  # Example value, replace with actual value
  Type_of_Loan = 250,  # Example value, replace with actual value
  Delay_from_due_date = 4,  # Example value, replace with actual value
  Num_of_Delayed_Payment = 3,  # Example value, replace with actual value
  Changed_Credit_Limit = 8,  # Example value, replace with actual value
  Num_Credit_Inquiries = 2,  # Example value, replace with actual value
  Credit_Mix = 1,  # Example value, replace with actual value
  Outstanding_Debt = 2000,  # Example value, replace with actual value
  Credit_Utilization_Ratio = 35,  # Example value, replace with actual value
  Credit_History_Age = 300,  # Example value, replace with actual value
  Payment_of_Min_Amount = 1,  # Example value, replace with actual value
  Total_EMI_per_month = 70,  # Example value, replace with actual value
  Amount_invested_monthly = 150,  # Example value, replace with actual value
  Payment_Behaviour = 3,  # Example value, replace with actual value
  Monthly_Balance = 300  # Example value, replace with actual value
 
)





# Building the random forest model
rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 1)

# Making predictions
predictions <- predict(rf_model, newdata = user_input)

print(predictions)

1
2
Levels: 0 1 2