In [2]:
library(randomForest)
library(caret)


data <- read.csv("../../data/processed/old_trained_cleaned.csv")


X <- data[, !(names(data) %in% c("Credit_Score"))]
y <- as.factor(data$Credit_Score)  


set.seed(42) 
train_index <- createDataPartition(y, p = 0.8, list = FALSE)
X_train <- X[train_index, ]
y_train <- y[train_index]
X_test <- X[-train_index, ]
y_test <- y[-train_index]

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

Loading required package: lattice

Loading required package: ggplot2


Attaching package: ‘ggplot2’


The following object is masked from ‘package:randomForest’:

    margin


Warning message in file(file, "rt"):
“cannot open file '../../data/processed/old_trained_cleaned.csv': No such file or directory”

ERROR: Error in file(file, "rt"): cannot open the connection

In [ ]:

rf_model <- randomForest(y_train ~ ., data = data.frame(cbind(X_train, y_train)), ntree = 500)
saveRDS(rf_model, file = "../../models/old_rf_model.rds")

In [3]:
loaded_model <- readRDS(file = "../../models/old_rf_model.rds")
predictions <- predict(rf_model, newdata = X_test)


confusion_matrix <- confusionMatrix(predictions, y_test)
print(confusion_matrix)

Warning message in gzfile(file, "rb"):
“cannot open compressed file '../../models/old_rf_model.rds', probable reason 'No such file or directory'”

ERROR: Error in gzfile(file, "rb"): cannot open the connection

tibble [1 × 24] (S3: tbl_df/tbl/data.frame)
 $ X                       : int 1
 $ Month                   : int 3
 $ Age                     : num 55.3
 $ Occupation              : int 3
 $ Annual_Income           : num 5000
 $ Monthly_Inhand_Salary   : num 1319
 $ Num_Bank_Accounts       : int 2
 $ Num_Credit_Card         : int 6
 $ Interest_Rate           : num 6.41
 $ Num_of_Loan             : int 5
 $ Type_of_Loan            : int 343
 $ Delay_from_due_date     : int 6
 $ Num_of_Delayed_Payment  : int 9
 $ Changed_Credit_Limit    : num 2.44
 $ Num_Credit_Inquiries    : int 3
 $ Credit_Mix              : int 2
 $ Outstanding_Debt        : num 689
 $ Credit_Utilization_Ratio: num 29.8
 $ Credit_History_Age      : int 290
 $ Payment_of_Min_Amount   : int 0
 $ Total_EMI_per_month     : num 78.5
 $ Amount_invested_monthly : num 210
 $ Payment_Behaviour       : int 0
 $ Monthly_Balance         : num 331

  X Month Age     Occupation Annual_Income Monthly_Inhand_Salary
1 1 3     55.3207 3          5000          1318.895
  Num_Bank_Accounts Num_Credit_Card Interest_Rate Num_of_Loan ⋯
1 2                 6               6.41148       5           ⋯
  Num_Credit_Inquiries Credit_Mix Outstanding_Debt Credit_Utilization_Ratio
1 3                    2          689.2679         29.83762
  Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month
1 290                0                     78.49624
  Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 210.1267                0                 331.1412

  X Month Age Occupation Annual_Income Monthly_Inhand_Salary Num_Bank_Accounts
1 0 1     23  12         19114.12      1824.843              3
2 1 2     23  12         19114.12      1824.843              3
3 2 3     23  12         19114.12      1824.843              3
4 3 4     23  12         19114.12      1824.843              3
5 4 5     23  12         19114.12      1824.843              3
6 5 6     23  12         19114.12      1824.843              3
  Num_Credit_Card Interest_Rate Num_of_Loan ⋯ Credit_Mix Outstanding_Debt
1 4               3             4           ⋯ 1          809.98
2 4               3             4           ⋯ 1          809.98
3 4               3             4           ⋯ 1          809.98
4 4               3             4           ⋯ 1          809.98
5 4               3             4           ⋯ 1          809.98
6 4               3             4           ⋯ 1          809.98
  Credit_Utilization_Ratio Credit_History_Age Payment_of_Min_Amount
1 26.82262                 265                1
2 31.94496                 265                1
3 28.60935                 267                1
4 31.37786                 268                1
5 24.79735                 269                1
6 27.26226                 270                1
  Total_EMI_per_month Amount_invested_monthly Payment_Behaviour Monthly_Balance
1 49.57495             80.41530               2                 312.4941
2 49.57495            118.28022               3                 284.6292
3 49.57495             81.69952               4                 331.2099
4 49.57495            199.45807               5                 223.4513
5 49.57495             41.42015               1                 341.4892
6 49.57495             62.43017               1                 340.4792
  Credit_Score
1 0
2 0
3 0
4 0
5 0
6 0

ERROR: Error in table(data, reference, dnn = dnn, ...): all arguments must have the same length

1
2
Levels: 0 1 2